/* Resetando margens e padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo geral do corpo */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #101110;
    padding: 20px;
}

header {
    background-color: #2e4b37;
    color: #fff;
    text-align: center;
    padding: 10px;
}

header h1 {
    font-size: 2.5em;
}

nav ul {
    list-style: none;
    margin-top: 10px;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

section {
    margin: 20px 0;
}

section h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

.imagem {
    width: 100%;
    max-width: 600px;
    margin: 15px 0;
}

footer {
    text-align: center;
    font-size: 1em;
    color: #888;
    margin-top: 30px;
}

/* Estilo para o conteúdo comparativo */
ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 5px 0;
    font-size: 1.2em;
}
